body {
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    background-image: url(../images/bg-top.svg);
    background-repeat: no-repeat;
}
ul, li {
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.toggle, .toggler {
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
}
.toggler {
  color: rgba(0, 0, 0, 0.479);
  transition: .2s;
  font-weight: bold;
}
.toggler--is-active {
  color: #8b12c4;
}
.b {
  display: block;
}
.toggle {
  position: relative;
  width: 80px;
  height: 35px;
  border-radius: 100px;
  background-color: #8b12c4;
  overflow: hidden;
  box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.05);
}
.check {
  position: absolute;
  display: block;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 6;
}
.check:checked ~ .switch {
  right: 2px;
  left: 57.5%;
  transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-property: left, right;
  transition-delay: .08s, 0s;
}
.switch {
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  right: 57.5%;
  background-color: #fff;
  border-radius: 36px;
  z-index: 1;
  transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-property: left, right;
  transition-delay: 0s, .08s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.hide{
    display: none;
}
#header h1 {
    color: rgba(0, 0, 0, 0.555);
    font-weight: bold;
    font-size: 3.5rem;
}
.pricing-chart .dollar {
    font-size: 2.5rem;
    font-weight: bold;  
}
.pricing-chart .amount {
    font-size: 4.5rem;
    font-weight: bold;
}
.pricing-chart{
    color: rgba(0, 0, 0, 0.822);
    font-size: 1.5rem !important;
    font-weight: 600px;
}
.pricing-chart .card {
    border: 2px solid #8c12c4c0;
    border-radius: 50px;
}
.pricing-chart .card-title {
    font-size: 15px;
    font-weight: bold;
}
.pricing-chart .card:hover {
    background:linear-gradient( #8c12c4c0, #3f125350);
    transform: scale(1.1);
    color:white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.466);
    border: none;
}
.pricing-chart ul li{
    font-weight: bold;
    font-size: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.137);
    padding-bottom: 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.137);
    padding-top: 5px;
}
.pricing-chart .card:hover ul li{
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    padding-top: 5px; 
    padding-bottom: 5px;
}
.pricing-chart .btn-learn-more {
    padding: 10px;
    display: block;
    background:  #8c12c4c0;
    color:  white;
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, 0.671);
    margin-top: 20px;
    border-radius: 20px;
}
.pricing-chart .btn-learn-more:hover {
    background:  white;
    color: #8c12c4c0;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.37);
    border: none;
}
